/* section{
    position: absolute;
  } */
  


  body{
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        background: white;
      }
      .container{
        margin: 0;
        padding: 0;
      }
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      #check, #check2{
        display: none;
      }
      .checkbtn{
        display: block;
      }
      .menu{
        display: none;
      }
      /* nav{
        display: none;
      } */
      .nav-bar{
        padding: 1.4em;
        place-content: space-between;
        display: flex;
        background: white;
        position: sticky;
        top: 0;
        }
      .join{
        text-decoration: none;
        color: grey;
        font-size: 1.3rem;
      }
      nav{
        position: fixed;
        height: 100vh;
        background: white;
        width: 50%;
        left: 0;
        line-height: 3rem;
        top: 80px;
        left: -100%;
        transition: all .5s ;
        z-index:999;
      }
      a{
        text-decoration: none;
        color: grey;
        font-size: 1.1em;
      }
     nav ul button{
        padding: .8em 2em;
        margin-left: 1em;
        background: green;
        border: none;
        color: white;
        border-radius: .5em;
        text-transform: capitalize;
      }
      nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav ul li{
        padding:0 .5em;
      }
      nav ul li a:hover{
        color: darkgray;
      }
      .business a{
        color: green;
      }
      nav ul button a{
        color: white;
      }
      nav ul button:hover{
        color: white;
        background: lightgreen;
      }
      .sign{
        display: none;
      }
      .white{
        display: none;
      }
      #check:checked ~ nav{
       left: 0;
    }
    .checkbtn{
      color: grey;
      line-height: 2em;
      font-size: 1.2em;
    }
    .section1 .outer{
          color: white;
          /* margin-left: 1em; */
         /* margin-top: 3em; */
          font-size: 1.2em;
          padding: 1.5em;
        }
       
         input{
          /* margin-left: 1.7em; */
           display: block;
          margin-top: 2em;
        } 
        .mobile-app{
          display: block;
          padding-top:.8em ;
          padding-bottom:.8em;
          padding-right: 12.3em;
          border: none;
          border-radius: .3em;
        }
        .button{
          background: lightgreen;
          padding: .8em 11em;
          border: none;
          border-radius: .3em;
          color: white;
          text-transform: capitalize;
        } 
    .div2{
          width:100%;
          height: 20rem;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
          background:#023A15;
        }
         .popular{
          display: none;
        }
        .section2{
          background: white;
          padding:0.7em 1em;
          display:grid;
          grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
          grid-gap: 3em;
          
          /* align-items: center; */
        }
        .paypal{
          display: none;
        }
        .trust{
          display: none;
        }
        /* section 3 */
         section .section3{
          background: white;
          padding:3em 2em;

         }
        .cell{
          /* width: 100%; */
          /* margin: auto; */
          background: white;
          /* padding: 1em; */
        }
        .carousel{
          width: 450px;
          height: 300px;
          background: white;
          padding: 0 1em;
          margin: 1em 1em;
          border-radius: .7em;
        }
        .carousel img{
          width: 100%;
        }
        .services{
          /* margin-left: 1.5em;
          margin-bottom: .7em; */
          font-size: 1.8em;
        }
       .para{
        color: white;
        padding: 1em 0;
        letter-spacing: .1px;
       }
        .section4{
          background: #f1fdf7;
          padding: 2em 1em;
          display: flex;
          flex-direction: column;
          gap: 3em;

        }
        .left h2{
          color: #404145;
          margin-bottom: 1em;
          font-size: 2em;
        }
        .left h4{
          color: #404145;
          margin-bottom: .7em;
          font-size: 1.1em;
        }
        .left p{
          color: #63646a;
          margin-bottom: .7em;
          font-size: 1.1em;
        }
        .sellingf{
          width: 100%;
        }
        /* .features-section li:before {
          content: '';
          left: -2em;
          position: absolute;
          width: 20px;
          height: 20px;
          background-image: url("bullet.png");
          background-size: contain;
          margin-right: .5em;
        } */
        .left h4:before{
          content: '';
          background: url('../fiverrimg/bullet.png');
          position: absolute;
          top: 0;
          left: 0;
          width:10px;
          height: 10px;
          background-size: contain;
        }
        .section5{
          padding:3em 1em;
          background: white;
        }
        .hero{
          padding:3.5em 1em;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-gap: 2em;
          align-items: center;
          align-content: center;
          text-align: center;
        }
        .hero img{
          width: 27%;
        }
        .section5 h2{
          font-size: 1.9em;
        }
        .section6{
          padding:3em 1em;
          background: #0d084d;
          color: white;
        }
        .section6 img{
          width: 100%;
          margin-top: 2em;
        }
        .section6 .new{
          background: #1f11e4;
          color: white;
          border: none;
          font-size: .7em;
          border-radius: .5em;
          padding:.2em .3em;
          font-weight: bold;
        }
        .label{
          font-size: 1.4em;
        }
        span{
          font-weight: bold;
          font-size: 1.4em;
        }
        .section6 h2{
          font-size: 1.8em;
          margin-bottom: 1em;
          margin-top: 1em;
        }
        .section6 h4{
          font-size: 1.2em;
          margin-bottom: 1em;
        }
        .section6 p{
          font-size: 1em;
          margin-bottom: 2em;
        }
        .section6 button{
             background:#1DBF73;
             padding: 1em 2em;
             border: none;
             border-radius: .4em;
             color: white;
             font-size: .9rem;
             margin-bottom: 2.5em;

        }
        .section6 button:hover{
          color: white;
          background: rgb(51, 170, 51);
        }
        .two{
          display:flex;
        }
        /* section 7 */
      .section7{
        padding: 4em 2em;
      }
      .carousel2{
        width: 100%;
        height: 100%;
      }
      .naadam{
        width:500px;
        height: 500px;
        gap: 3em;
      }
      .naadam__img > img{
        width: 100%;
        padding:0 1em;
      }
      .naadam-pro{
        width: 100%;
        padding:0 1em;
      }

        /* Section 8 */
         .section8{
          background:#446EE7;
          color: white;
          padding:1.5em 2em;
         }
         .section8 img{
          width: 100%;
          /* margin-top: -9em; */
          object-fit: cover;
          object-position: center;
         }
         .section8 span{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 1em !important;
         }
         .section8 .label{
          font-size: 1.5em;
          
         }
         .section8 h2{
          margin-top:1em;
          font-size: 2em;
          margin-bottom: .2em;
         }
         .logo-maker{
          color:#446EE7 ;
          border:none ;
          margin-top:2em;
          padding: .5em 1.5em;
          border-radius: .3em;
          font-size: 1em;
          font-weight:bold;
          cursor: pointer;
         }
         .logo-maker:hover{
          background: lightblue;
         }

         /* .section10 */
         .section10{
          background: #63646a;
          padding: 3em 1em;
         }
         .caro .img__caro{
          width: 600px;
          padding: 0 2em;
         }
         .caro{
          /* background: white; */
          border-radius: .5em;
          overflow: none;
        }
         .caro .img__caro > img {
          width: 100%;
          height:200px;
          object-fit: cover;
          object-position: center;
          border-radius: .5em;
         }
         .cell3{
          display: flex;
          width: 100%;
          padding: .4em 3em;
          }
         /* .all{
          padding: 1em;
         } */
         
         .cell3 img{
          border-radius: 50%;
         }
         .cell7 h4{
          color: #62646A;
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: .7em;
         }
         .main__sec a{
          display: none;
         }
         .main__sec{
          margin-bottom: 2em;
         }
         .section11{
          padding: 3em 1em;
         }
         .fiverr-guides{
          display: grid;
          grid-gap: 2em;
         }
         .fiverrguides{
          margin-bottom: 1em;
          font-size: 1.2em;
         }
         .guide-create img{
          width: 100%;
         }
         .guide-create{
          line-height: 1.5em;
         }
         .guide-create h6{
          color: #404145;
          line-height: 22.4px;
          font-size: 1rem;
          font-weight: 500;
         }
         .guide-create p{
          color: #74767E;
          font-size: 1rem;
          line-height: 24px;
          font-weight:400;
         }
         .section12{
          margin: 3em 1em;
          background: #45091B;
          color: white;
          padding: 3em 1em;
         }
         .section12 span{
          font-style: italic;
          font-size: 1.1em;
         }
         .section12 h1{
          font-size: 2em;
          margin-bottom: 1em;
         }
         .section12 .get-started{
          padding: 1em 2em;
          background:#1DBF73;
          border: none;
          color: white;
          border-radius: .5em;
          text-transform: capitalize;
        }
        .section12 .get-started:hover{
          background: green;
        }
        .footer .ul-first .li-first{
          color: black;
          list-style: none;
          font-size: 1rem;
          line-height: 3em;
          place-content: space-between;
        }
        .footer > .ul-first{
          display:unset;
        }
        .footer ul li {
          list-style: none;
        }
        .footer ul li a{
          color:  #74767E;
          font-size: 1rem;
         }
         .footer ul ul{
          /* position: absolute; */
          display: none;
         }
         .footer ul li:hover > ul{
             display: block;
         }
        .footer ul li a:hover{
          text-decoration: underline solid rgb(116, 118, 126);
        }
        .footer{
          margin: 1em 3em;
        }
        .footer2{
          text-align: center;
          line-height: 2.5em;
          margin:2em 2em ;
        }
        .footer2 p{
          color: #B5B6BA;
          font-size: 14px;
        }
        .footer2 img{
          width:15%;
        }
        .footer2 .icon a{
          margin: 0 .8em;
        }
        .icon{
          display: grid;
        }
        .last-last a{
          margin: 0 .8em;
        }









        /* new section */

        @media(max-width:500px){
          .mobile-app{
            display: block;
            padding-top:.8em ;
            padding-bottom:.8em;
            padding-right: 6.5em;
            border: none;
            border-radius: .3em;
          }
          .button{
            background: lightgreen;
            padding: .8em 8em;
            border: none;
            border-radius: .3em;
            color: white;
            text-transform: capitalize;
          }
          .section2{
            background: white;
            padding:0 2em;
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
            grid-gap: 2em;
            text-align: center;
            align-items: center;
        }
        .section2 img{
          width: 100%;
      }
      
      /* sectionb33 */
      .carousel{
        width: 300px;
        height: 300px;
        background: white;
        padding: 0 1em;
        margin: 1em 1em;
        border-radius: .7em;
        overflow: hidden;
      }
      .carousel img{
        width: 100%;
      }
      
      
      
      
      
      .section7{
        padding: 3em 0;
      }
      .carousel2{
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .naadam{
        width:390px;
        height: 500px;
        
      }
      .naadam__img > img{
        width: 100%;
        padding:0 1em;
      }
      .naadam-pro{
        width: 100%;
        padding:0 1em;
      }
      
      
      
      
      .caro .img__caro{
        width: 430px;
        
       }
       .caro{
        background: white;
        border-radius: .5em;
        overflow: none;
      }
       .caro .img__caro > img {
        width: 100%;
        height:200px;
        object-fit: cover;
        object-position: center;
        border-radius: .5em;
       }
       .cell3{
        display: flex;
        width: 100%;
        padding: .4em 3em;
        }
      }

       

      @media only screen and (min-width:603px){
      
        #check2{
        display: none;
      }
      .checkbtn{
      color: white;
      line-height: 2em;
      font-size: 1.2em;
    }
      #check2:checked ~ nav{
          left: 0;
      }
    nav{
        position: fixed;
        height: 100vh;
        background: white;
        width: 50%;
        left: 0;
        line-height: 3rem;
        top: 80px;
        left: -100%;
        transition: all .5s ;
      }
      
        .nav-bar{
            display: flex;
            justify-content:space-between;
            background: #023A15;
            position: relative;
            position: sticky;
            top: 0;
          }
        .sign{
            display: flex;
            position:absolute;
            right:8rem;
             }
          .black{
            display: none;
              }
        .white{
            display: flex;
            position:absolute;
            left:0;
            margin-top: -1.5em;
            /* margin-right: 25rem;
            margin-left: -2.6rem;
            margin-top:-1.8rem; */
        }
         .sign{
            /* margin-left:-8em; */
            color: white;
            margin-top: .5em;
            margin-right: -1.6em;
        }
        .join{
            color: white;
            margin-top: .4em;
            font-size: 1em;
            border-radius: .5em;
            border: 1px solid white;
            margin-bottom: auto;
            padding: .2em 1em;
         }
         .join:hover{
            color: white;
            background:lightgreen ;
        }
        .section1 .outer{
          color: white;
          padding: 1em 2em;
          font-size: 1.5em;
        }
        .mobile-app{
          display: block;
          padding-top:.8em ;
          padding-bottom:.8em;
          padding-right: 22.3em;
          border: none;
          border-radius: .3em;
        }
        .button{
          background: lightgreen;
          padding: .8em 16em;
          border: none;
          border-radius: .3em;
          color: white;
        }
        .section2{
          padding: .5em 4em;
        }
        .paypal{
          display: flex;
        }
        .trust{
          display: none;
        }
        .cell{
          width: 95%;
          margin: auto;
          background: white;
          /* padding: 1em; */
        }
        .carousel{
          width: 238px;
          height: 300px;
          background: white;
          padding: 0 1em;
          margin: 0 1em;
          border-radius: .3em;
        }
        button .carousel{
          display: flex;
          background: white;
        }
        .left h2{
          color: #404145;
          margin-bottom: 1em;
          font-size: 2.4em;
        }
        .left h4{
          color: #404145;
          margin-bottom: .5em;
          font-size: 1.5em;
        }
        .left p{
          color: #63646a;
          margin-bottom: .7em;
          font-size: 1.1em;
        }
        .sellingf{
          width: 100%;
        }
        .section8{
          background:#446EE7;
          color: white;
          padding:1.2em 1.5em;
          /* width: 80%; */
          margin:0 1.5em;
         }
         .section11{
          padding: 3em 2em;
         }
         .fiverr-guides{
          display: grid;
          grid-template-columns: 1fr 1fr;
         }
         .footer .ul-first .li-first > a{
          color: black;
          list-style: none;
          font-size: 2rem;
        }
        .footer > .ul-first{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          list-style: none;
          line-height: 3em;
        }
        .footer ul li {
          list-style: none;
        }
        .footer ul li a{
          color:  #74767E;
          font-size: 1rem;
          display: unset;
        }
        .footer ul li a:hover{
          text-decoration: underline solid rgb(116, 118, 126);
        }
        .footer{
          margin: 1em 3em;
        }
        .footer ul ul{
          display: unset;
         }
         .last-content{
          display: flex;
         }
         .icon{
          display:flex;
         }
         .last-content img{
          width: 10%;
          height: 5%;
          margin-top: .6em;
          margin-right: 1em;
         }
        }
      @media only screen and (min-width:903px){
        .black, .join,.sign{
          display: none;
        }
        .join-fiverr{
          display: none;
        }
        nav button{
          display: none;
        }
        button, .english, .usd{
          display: none;
        }
        .nav-bar{
          display: grid;
          grid-template-columns:200px auto;
          margin: 0;
          /* justify-content: unset; */
        }
       nav{
        display: block;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        position: sticky;
        top: 0;
       }
      nav ul{
        display: flex;
        margin-top:-2em;
       } 
       .white{
        margin-top: -3em;
       }
       nav ul li a{
        color: white;
       }
      .join-now{
            color: white;
            /* margin-top: .4em; */
            font-size: 1em;
            border-radius: .5em;
            border: 1px solid white;
            margin-bottom: auto;
            padding: .2em 1em;
         }
         .join-now:hover{
            color: white;
            background:lightgreen;
        }
        .active a{
          color: white;
        }
        .checkbtn{
          line-height: .7em;
        }
        .section1 .outer{
          color: white;
          /* margin-left: 1em; */
          /* margin-top: 6em; */
          font-size: 1.6em;
          padding: 5em 1em;
        }
         input{
          /* margin-left: 1.7em; */
           display:unset;
          /* margin-top: 2em; */
        } 
        .mobile-app{
          display:unset;
          /* padding-top:.8em ; */
          /* padding-bottom:.8em; */
          padding-right: 10em;
          font-size: .7em;
          border: none;
          
        }
        .button{
          background: lightgreen;
          padding: .8em 1em;
          border: none;
          border-radius:0;
          color: white;
          text-transform: capitalize;
          margin-left: -.6em;
          font-size: .7em;
        } 
        .div2{
          /* position: absolute; */
          /* left: 0; */
          /* top: 5rem; */
          width:100%;
          height: 30em;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
          }
          
        @keyframes animate{
          0%,100%{
         background-image: url('../fiverrimg/fiverr1.jfif' );
          }
          20%{
            background-image: url('../fiverrimg/fiverr2.jfif');
          }
          40%{
            background-image: url('../fiverrimg/fiverr3.jfif');
          }
          60%{
            background-image: url('../fiverrimg/fiverr4.jfif');
          }
          80%{
            background-image: url('../fiverrimg/fiverr5.jfif');
          }
          }
          .popular{
            display: flex;
            list-style: none;
            margin:1em 0 ;
            color: white;
            
          }
         .popular li a{
          margin-left: .9em;
          color: white;
          border: 1px solid white;
          border-radius: 1em;
          padding: .1em .5em;
          font-size: .5em;
          }
         .popular li a:hover{
          background: white;
          color: black;
         }
         button{
          display: flex;
        }
        .section4{
          background: #f1fdf7;
          /* padding: 2em 1em; */
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;
          }
        .left h2{
          color: #404145;
          margin-bottom: 1em;
          font-size: 2.4em;
        }
        .left h4{
          color: #404145;
          margin-bottom: .5em;
          font-size: 1.5em;
        }
        .left p{
          color: #63646a;
          margin-bottom: .7em;
          font-size: 1em;
        }
        .sellingf{
          width: 100%;
        }
       .section6{
        display: grid;
        grid-template-columns: 1fr 1fr;
       }
       .naadam{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
       }
       .naadam-pro{
        font-size: 1em;
       }
       .section8{
        background:#446EE7;
        color: white;
        padding:2em 4em;
        margin:0 3em;
        display: grid;
       grid-template-columns: 1fr 1fr;
       }
       .main__sec a{
        display: block;
        color: #8F90E8;
        font-size: 1em;
        margin-top: 2em;
      }
      .main__sec h2{
        font-size: 1.5em;
      }
       .main__sec{
        display: grid;
        grid-template-columns:1fr auto;
        grid-gap: 10em;
       }
       .fiverr-guides{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       }
       .guide-create h6{
        color: black;
        line-height: 22.4px;
        font-size: 1.2rem;
        font-weight: bold;
       }
       .guide-create p{
        color: #74767E;
        font-size: 1rem;
        line-height: 24px;
        font-weight:400;
       }
       .section10{
        background: #63646a;
        /* width: 100%; */
        padding: 4em 3em;
        margin: 4em 0;
       }
       
        .caro .img__caro{
          width: 400px;
          height: 300px;
        }
      .caro .img__caro > img {
        width: 100%;
        height:300px;
        object-fit: cover;
        object-position: center;
        border-radius: .5em;
       }
       .section11{
        padding: 3em 3em;
       }
       .section12 {
        background: url('../fiverrimg/lastimg.png');
        background-size: cover;
        background-position:left;
        background-repeat: no-repeat;
        font-size: 1.2em;
       }
       .footer .ul-first .li-first {
        color: black;
        list-style: none;
        font-size: 1rem;
      }
      .footer > .ul-first{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none;
        line-height: 3em;
      }
      .footer ul li {
        list-style: none;
        
      }
      .footer ul li a{
        color:  #74767E;
        font-size: 1rem;
        
      }
      .footer ul li a:hover{
        text-decoration: underline solid rgb(116, 118, 126);
      }
      .footer{
        margin: 1em 3em;
      }
      .footer2{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .last-content img{
        width: 15%;
        height: 50%;
      }
      }
      @media only screen and (min-width:1160px){
         .english, .usd{
          display: flex;
        }
        .menu{
          display: none;
        }
        .nav-bar{
          display: grid;
          grid-template-columns:100px 180px auto;
          justify-content: space-between;
          padding-top:3em ;
          font-size: 1.14em;
          position: sticky;
          top: 0;
        }
        .checkbtn{
          display: none;
        }
        .div2 {
          /* position: absolute; */
          /* left: 0; */
          /* top: 5.8rem; */
          width:100%;
          height: 30rem;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
        }
         @keyframes animate{
          0%,100%{
         background-image: url('../fiverrimg/fiverr1.jfif' );
          }
          20%{
            background-image: url('../fiverrimg/fiverr2.jfif');
          }
          40%{
            background-image: url('../fiverrimg/fiverr3.jfif');
          }
          60%{
            background-image: url('../fiverrimg/fiverr4.jfif');
          }
          80%{
            background-image: url('../fiverrimg/fiverr5.jfif');
          }
          } 
         .trust{
          display: flex;
          line-height: 4em;
         }
         section .section3{
          background: white;
         }
        .cell{
          width: 95%;
          margin: auto;
          background: white;
          /* padding: 1em; */
        }
        .carousel{
          width: 238px;
          height: 300px;
          background: white;
          padding: 0 1em;
          margin: 0 1em;
          border-radius: .3em;
        }
        button .carousel{
          display: flex;
          background: white;
        }
        .section4{
          background: #f1fdf7;
          /* padding: 2em 1em; */
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;
          }
        .left h2{
          color: #404145;
          margin-bottom: 1em;
          font-size: 2.3em;
        }
        .section5 h2{
          font-size: 2.5em;
        }
        .section8{
          background:#446EE7;
          color: white;
          padding:2em 4em;
          margin:0 3em;
         }
         .section10{
          background: #63646a;
          /* width: 100%; */
          padding: 4em 3em;
          margin: 4em 0;
         }
         
          .caro .img__caro{
            width: 400px;
            height: 300px;
          }
        .caro .img__caro > img {
          width: 100%;
          height:300px;
          object-fit: cover;
          object-position: center;
          border-radius: .5em;
         }
         /* .new{
          width: 86%;
          margin: auto;
         } */
         /* .all{
          width: 95%;
          margin: auto;
          padding: 3em;
         } */
         .cell3{
          background: unset;
          width:90%;
         }

         .main__sec{
          display: grid;
          grid-template-columns:1fr auto;
          grid-gap: 10em;
          margin: unset;
         }
         .main__sec a{
          margin-bottom: 1em;
         }
         .section12{
          margin: 3em 1em;
          color: white;
          padding: 6em 3.5em;
          font-size: 1.6em;
          background-position: center;
          background-size: cover;
         }
        }